.App {
  text-align: center;
  
  width: 100%;
  margin: 0%;
  padding: 0%;
}







#categ{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10;
}

#Products-div{
width: 300px;
height: 350px;
box-sizing: border-box;
box-shadow: 10px 10px 10px 10px gray;
margin: 2% auto ;


}

.image-div img{
width: 200px;
height: 200px;
object-fit: fill;
}